# Ignore Django Rest Framework (DRF) migrations
*/migrations/

# Ignore Python bytecode cache files
__pycache__/

/node_modules
.DS_Store
.env
db-data/

# Ignore compiled files
*.class
*.jar
*.war

# Ignore IDE files
.idea/
.vscode/
*.iml

# Ignore log files
*.log
src/*.log
src/*.log.*

# Ignore other potential log files
*.log


# Ignore Django migrations except __init__.py
*/migrations/*
!*/migrations/__init__.py


celerybeat.pid

static

media/track_folder/
media/video_folder/
